<?xml version="1.0"?>
<config>
	
  <app framerate_cap="30">
		<title>NINJA WARRIOR</title>
		<organization>UPC</organization>
	</app>
	
  <renderer>
		<vsync value="false" />
  </renderer>

  <audio>
    <volume_music value="0.4" />
  </audio>
	
	<window>
		<resolution width="1024" height="768" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	
	<file_system>
		<path>data.zip</path>
	</file_system>

	<map>
		<folder>maps/</folder>
	</map>

  <scene>
    <map name="Map.tmx" />
    <map name="map2.tmx" />
  </scene>
	
  <entitymanager>
   
    <folder>textures/</folder>
    <texture source1="rogue_spritesheed.png" source2="golems.png" source3="bat.png" source4="gui_game.png"/>

  </entitymanager>

  <player>

    <jump_velocity jumpvel="-24"/>
    <velocity x="5"/>
    <velrun x="3"/>
    <gravity grav="20" />
    <colOffset x="11" y="8" />
  
  </player>

  <bat>

    <velocity x="5"/>
     
  </bat>

  <golem1>

    <velocity x="5"/>
    <gravity grav="20" />
   
  </golem1>

  <golem2>

    <velocity x="5"/>
    <gravity grav="20" />
  
  </golem2>
  
  <gui>

    	<folder>gui/</folder>
	  <background file="Image_main_menu.png"/>
	  <button file1="UI_Elements.png"/>	
   
  </gui>
  
	
</config>
